django==1.8.5
django-tinymce
sorl-thumbnail
Pillow==3.0.0
#https://github.com/rodrigolins/Django-tinymce-filebrowser.git/zipball/master#egg=mce_filebrowser
-e git+git@github.com:rodrigolins/Django-tinymce-filebrowser.git@master#egg=mce_filebrowser
